@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.body{
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    columns: #043363;
}

/*-----NAVBAR------------*/
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.4) !important;
}
.navbar-brand{
    height: 2rem;
}
.navbar-nav li{
    padding: 0.4rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: ivory;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: black;

}
/**---SLIDER--------**/
.carousel-item{
    height: 100vh;
    background: no-repeat center center scroll;
}
/**PROFILE CARDS******/
.col-xs-4 {
    width: 33.33333333%;
}
.profile-card-6 {
    max-width: 300px;
    max-height: 420px;
    background-color: #FFF;
    background:center;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}
.profile-card-6 img {
    transition: all 0.15s linear;
}

.profile-card-6 .profile-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    padding: 15px 20px;
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0) 50%);
    transition: all 0.15s linear;
}

.profile-card-6 .profile-position {
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    left: 30px;
    top: 100px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 50px 0px 20px 0px;
    transition: all 0.15s linear;
}

.profile-card-6 .profile-overview h3 {
    font-weight: bold;
}

.profile-card-6 .profile-overview p {
    color: rgba(255, 255, 255, 0.7);
}

.profile-card-6:hover img {
    filter: brightness(80%);
}

.profile-card-6:hover .profile-name {
    padding-left: 25px;
    padding-top: 20px;
}

.profile-card-6:hover .profile-position {
    left: 40px;
}

.profile-card-6:hover .profile-overview {
    padding-bottom: 25px;
}
/***FEATURE*******************/
.feature-content{
    padding: 8rem 0;
    overflow:hidden;

}
.dark-feature{
    background-color: #222222;
    color:white
}
/****PARALLAX*********************/
.parallax {
    /* The image used */
    background-image: url("../assets/nin.jpg");
  
    /* Set a specific height */
    min-height: 500px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-image: url("../assets/nin.jpg");
  
    /* Set a specific height */
    min-height: 500px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/***CONTACT FORM*************************/
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 80%;
}
.contact-form .form-control{
    border-radius:1rem;
}
/***ANIMATION****************************/
.animate__animated.animate__fadeInRight {
    --animate-duration: 1s;
  }
/***FONT STYLES***************/
.about-letter{
    font-family:Georgia, 'Times New Roman', Times, serif;
}