body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/Logo Title */
  .header {
    background: url('assets/psychology1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 1000px;
  }@media screen and (max-width: 670px){
    header{
      min-height: 500px;
    }
  }  
  /* Page Content */
  .content {
      padding:20px;
    }

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
    overflow: hidden;
    background-color:rgb(101, 184, 252);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: rgb(3, 1, 102);
    color: white;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: rgb(3, 1, 102);
    color: white;
  }

  .section{
    padding-top: 4vw;
    scroll-padding-bottom: 4vw;
  }
/****SERVICE BAR**************************************************************************************************/

#Services .service-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
#Services .service-icon {
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}
#Services .service-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
#Services .service-box .service-icon .front-content {
  position: relative;
  top: 80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#Services .service-box .service-icon .front-content i {
  font-size: 28px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
}
#Services .service-box .service-icon .front-content h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#Services .service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#Services .service-box .service-content p {
  font-size: 13px;
  color: #fff;
  margin: 0;
}
#Services .service-box .yellowbox {
  background-color: #058fff;
}
#Services .service-box .orangebox {
  background-color: #6e01fc;
}
#Services .service-box .redbox {
  background-color: #02BED2;
}
#Services .service-box .greybox {
  background-color: #fc3301;
}
#Services .service-box:hover .service-icon {
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
#Services .service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
/****SERVICE BAR*********************************************************************************************************************/
/***CARD ***********************/
.cardColumn {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}
/***********************Footer****************************************************************************************************/
/*********************ICON BLOCK************************************************************************************************/
.icon-block{
  padding: 0 30px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
}

